<!--@model FoehnWebApp.Models.Information

@{
    ViewBag.Title = "Delete";
}

@foreach (var item in Model)
{
    <tr id="info-@item.Id">-->
        <!-- Other columns -->
        <!--<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            <button class="delete-btn" data-infoid="@item.Id">Delete</button>
        </td>
    </tr>
}
</div>-->
