@model IEnumerable<FoehnWebApp.Models.Information>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        @*Unsaved Table List*@
        <div class="col-lg-6">
            <h2>Unsaved Employees</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody id="infoTable">
                    @*@foreach (var item in Model)
                        {

                        }*@
                </tbody>
            </table>
            <p>
                Total Salary: <span id="totalSalary"></span>
            </p>
            <p>
                Total Employee: <span id="totalEmployee"></span>

            </p>
            <button class="create_btn btn btn-default" id="createModalButton">
                Create
            </button>
            <button class="create_btn btn btn-success" id="submitButton" onclick="submitAll()">
                Submit
            </button>

        </div>
        @*Saved Table List*@
        <div class="col-lg-6">
            <h2>Saved Employees</h2>
            <table class="table" id="savedInfoTable">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>

                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Salary
                        </th>
                        <th></th>
                    </tr>

                </thead>

                <tbody id="infoNewTable">
                </tbody>




            </table>
            <p>
                Total Salary: <span id="savedTotalSalary"> test</span>
            </p>
            <p>
                Total Employee: <span id="savedTotalEmployee"></span>

            </p>
        </div>
    </div>
</div>


@*modal for create*@
<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Employee</h4>
            </div>
            <div class="modal-body">
                <div id="createContent"></div>
                <form id="createForm">

                    <div class="form-horizontal">
                        <input type="text" hidden id="Id" />
                        <div class="form-group">

                            <label class="control-label col-md-2">
                                FirstName
                            </label>
                            <div class="col-md-10">
                                <input type="text" id="firstName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                LastName
                            </label>
                            <div class="col-md-10">
                                <input type="text" id="lastName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                Age
                            </label>
                            <div class="col-md-10">
                                <input type="number" id="age" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">
                                Salary
                            </label>
                            <div class="col-md-10">
                                <input type="number" id="salary" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <button type="button" class="btn btn-success" onclick="createInfo()">Save Changes</button>
                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


@*modal for edit*@
<div id="EditSaveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Employee</h4>
            </div>
            <div class="modal-body">
                <div id="EditNewContent"></div>
                <form id="EditNewForm">



                    <div class="form-horizontal">
                        <h4>Information</h4>
                        <hr />



                        <input type="text" hidden id="SavedEditId" />

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                FirstName
                            </label>


                            <div class="col-md-10">

                                <input type="text" id="SavedEditFirstName" class="form-control" />



                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                LastName
                            </label>

                            <div class="col-md-10">
                                <input type="text" id="SavedEditLastName" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Age
                            </label>

                            <div class="col-md-10">
                                <input type="text" id="SavedEditAge" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Salary
                            </label>

                            <div class="col-md-10">
                                <input type="text" id="SavedEditSalary" class="form-control" />
                                @*  *@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <button type="button" class="btn btn-primary" onclick="submitEdit()">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@*modal for edit saved*@
<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Employee</h4>
            </div>
            <div class="modal-body">
                <div id="editContent"></div>

                <form id="editForm">


                    <div class="form-horizontal">
                        <h4>Information</h4>
                        <hr />


                        <input type="text" hidden id="eId" />
                        <div class="form-group">

                            <label class=" control-label col-md-2"> FirstName </label>
                            <div class="col-md-10">

                                <input type="text" id="eFirstName" class="form-control" />


                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label col-md-2"> LastName </label>

                            <div class="col-md-10">
                                <input type="text" id="eLastName" class="form-control" />


                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label col-md-2"> Age: </label>

                            <div class="col-md-10">
                                <input type="number" id="eAge" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label col-md-2"> Salary: </label>

                            <div class="col-md-10">
                                <input type="number" id="eSalary" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <button class="btn btn-primary" onclick="updateInfo()" type="button">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


